@import '../../assets/variables';

.restaurantListItem .card {
  background: #fff;
  border-radius: .5em;
  border: .15em solid $light-gray;
  box-shadow: none;
  color: $dark-gray;
  display: flex;
  font-size: .9em;
  flex-direction: row;
  flex-wrap: nowrap;
  max-width: 28em;
  max-height: 8em;
  margin: .5em;
  padding: .6em 1em;
  width: 90%;

  &:hover,
  &:active {
    border: .15em solid $green;
  }

  img {
    align-self: flex-start;
    margin: auto;
    max-width: 80px;
  }

  .restaurantInfo {
    display: flex;
    flex-direction: column;
    width: 100%;

    .dollars {
      padding-right: .5em;
    }

    .notes {
      padding-left: .5em;
    }
  }

  h4,
  p,
  div {
    margin: .2em .8em;
  }

  .favorite {
    color: $light-gray;
    font-size: 1.3em;
    margin: 0;

    a,
    a:visited,
    a:active {
      color: $light-gray;
    }
  }

  .restaurantInfo {
    font-size: .8em;
  }

  .stars {
    color: $gold;
    font-size: 1.3em;
  }
}

@media screen and (min-device-width: 800px) {
  .restaurantListItem .card {
    width: auto;
  }
}
