@import '../../assets/variables';

.card {
  align-items: center;
  background: #fff;
  border: .1 solid $light-gray;
  border-radius: .5em;
  box-shadow: .2em .4em .4em .2em rgba(118, 118, 118, .7);
  color: $dark-gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1em;
  justify-content: center;
  padding: .4em;
  width: 25em;

  img {
    margin: 1em;
    width: 120px;
  }

  .favorite {
    align-self: flex-start;
    border: 0;
    color: $light-gray;
    cursor: pointer;
    font-size: 1.5em;
    margin: .6em 1em 0 0;
  }

  .stars {
    color: $gold;
  }

  .rating {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
