@import '../../assets/variables';

header {
  align-items: center;
  background: #fff;
  display: flex;
  font-family: "Proxima Nova", "Arial", sans-serif; //I do not have access to Proxima Nova, it is not a google font, it would be too time consuming for this assignment
  flex-wrap: wrap;
  justify-content: space-between;
  left: 0;
  margin: auto;
  padding: 1.5em;
  top: 0;
  width: 100%;
  text-decoration: none;

  .logo {
    flex-grow: 40;
    text-decoration: none;
    color: $light-gray;
    font-size: 1.8em;
    display: flex;
    justify-content: center;

    img {
      width: 150px;
      margin-right: .5em;
    }
  }
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: space-between;

  button,
  input {
    background: #fff;
    border-radius: .5em;
    border: .03em solid $light-gray;
    color: $dark-gray;
    padding: .8em 1.4em;
  }

  input[type="text"] {
    font-weight: bold;
    width: 20em;
  }

  button[type="submit"] {
    color: $green;
  }
}

@media screen and (min-device-width: 800px) {
  header {
    flex-wrap: nowrap;

    .logo {
      justify-content: flex-start;
    }
  }
}
