@import '../../assets/variables';

.restaurantContainer {
  align-self: center;
  background: $medium-gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


@media screen and (min-device-width: 800px) {
  align-self: flex-start;
  min-width: 30em;
}
