@import 'assets/variables';

html,
body {
  background: #f3f6fb;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  color: $dark-gray;
  flex-direction: column;
  min-height: 100%;
  padding-top: $navbar-size-mobile;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

//will toggle with button on mobile
.map {
  display: none;
}

.restaurantContainer {
  display: flex;
}

@media screen and (min-device-width: 800px) {
  .App {
    padding-top: $navbar-size-desktop;
  }

  .map {
    display: flex;
  }

  .restaurantContainer {
    display: flex;
  }
}
