@import 'assets/variables';

html,
body {
  background: #f3f6fb;
  height: 100%;
  margin: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.App {
  color: $dark-gray;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.green {
  color: $green;
}

.gold {
  color: $gold;
}

// will toggle with button on mobile
// I'm running out of time, I may not be able to get back to make this work
.map {
  display: none;
}

@media screen and (min-device-width: 800px) {
  .switchWiew {
    display: flex;
  }

  .map {
    display: flex;
  }

  .restaurantContainer {
    display: flex;
  }
}
